    <section class="below-navbar">
        <div class="container">
            <div class="row regular-content-size">
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="col-xs-12 text-center">
                        <!-- Title here -->
                        <h2 class="extra-padding-left">RIDE NAME</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="below-navbar">
        <div class="container">
            <div class="row regular-content-size">
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="col-xs-6">
                        <strong>Starting Point</strong>
                        <hr>
                        <!-- Starting point here -->
                        <div class="ezgmaplocation-field"><script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script><script type="text/javascript">
                                (function(win, doc) {
                                    var mapView = function (mapId, latitude, longitude) {
                                        var mapElt = doc.getElementById("maplocation-map-249"),
                                            startPoint = new google.maps.LatLng(latitude, longitude),
                                            zoom = 13,
                                            draggable = true;

                                        new google.maps.Marker({
                                            map: new google.maps.Map(mapElt, {
                                                center: startPoint,
                                                zoom: zoom,
                                                draggable: draggable,
                                                mapTypeId: google.maps.MapTypeId.ROADMAP
                                            }),
                                            position: startPoint
                                        });
                                    }
                                    if ( win.addEventListener ) {
                                        win.addEventListener(
                                            'load',
                                            function () {
                                                mapView("maplocation-map-249", 61.1309,21.5059);
                                            },
                                            false
                                        );
                                    } else if ( win.attachEvent ) {
                                        win.attachEvent(
                                            'onload',
                                            function () {
                                                mapView("maplocation-map-249", 61.1309,21.5059);
                                            }
                                        );
                                    }
                                })(window, document);
                            </script><div class="maplocation-map" id="maplocation-map-249" style="width:100%; height:330px"></div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <strong>End Point</strong>
                        <hr>
                        <!-- End point here -->
                        <div class="ezgmaplocation-field"><script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script><script type="text/javascript">
                                (function(win, doc) {
                                    var mapView = function (mapId, latitude, longitude) {
                                        var mapElt = doc.getElementById("maplocation-map-250"),
                                            startPoint = new google.maps.LatLng(latitude, longitude),
                                            zoom = 13,
                                            draggable = true;

                                        new google.maps.Marker({
                                            map: new google.maps.Map(mapElt, {
                                                center: startPoint,
                                                zoom: zoom,
                                                draggable: draggable,
                                                mapTypeId: google.maps.MapTypeId.ROADMAP
                                            }),
                                            position: startPoint
                                        });
                                    }
                                    if ( win.addEventListener ) {
                                        win.addEventListener(
                                            'load',
                                            function () {
                                                mapView("maplocation-map-250", 61.1309,21.5059);
                                            },
                                            false
                                        );
                                    } else if ( win.attachEvent ) {
                                        win.attachEvent(
                                            'onload',
                                            function () {
                                                mapView("maplocation-map-250", 61.1309,21.5059);
                                            }
                                        );
                                    }
                                })(window, document);
                            </script><div class="maplocation-map" id="maplocation-map-250" style="width:100%; height:330px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="container">
            <div class="row regular-content-size">
                <div class="col-xs-10 col-xs-offset-1 padding-box">
                    <div class="col-xs-2">
                        <div class="box-ride">
                            <!-- Length here -->
                            <h3 class="special-number">120 Km</h3>
                            <p class="pre-small special-number special-number-margin"><strong>Level</strong></p>
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <div class="col-xs-5">
                            <!-- Author here -->
                            <p>Created by: JOHN DOE</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 padding-box">
                    <div class="col-xs-10">
                        <div class="col-xs-2 text-right">
                            <p>Description:</p>
                        </div>
                        <div class="col-xs-10 text-justify">

                            <!-- Photo here -->
                            <img alt="" src="/assets/images/geneva.png" width="100%">

                            <div class="ezrichtext-field">
                                <!-- Description here -->
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
